*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

input,
input:active,
input:focus {
  outline: none;
  border: none;
}

.item {
  cursor: grab;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  padding: 6px 10px;
  gap: 5px;
  border: 1px black solid;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  user-select: none;
  border-radius: 10px;
}
