*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

input,
input:active,
input:focus {
  outline: none;
  border: none;
}
