*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  color: white;
  display: inline-block;
  margin: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  color: white;
  display: inline-block;
  margin: 7px;
  font-size: 15px;
}

footer a {
  color: white;
}

body {
  overflow-x: hidden;
}

.app {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 400px;
  position: relative;
  align-items: start;
}

.playground {
  position: sticky;
  top: 0;
  height: 100dvh;
  background-color: #1c1c1c;
  overflow: hidden;
}

.sidebar {
  position: relative;
  background-color: #3c3c3c;
  border-left: 1px rgb(92, 92, 92) solid;
  width: 100%;
  min-height: 100dvh;
}
.sidebar .item-container {
  padding: 20px;
  margin-bottom: 50px;
}

.sidebar .item {
  margin: 1px;
}

.sidebar .searchbar {
  position: fixed;
  bottom: 0;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.sidebar .searchbar input {
  width: 400px;
  padding: 10px;
}

.item {
  cursor: grab;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  padding: 6px 10px;
  gap: 5px;
  border: 1px black solid;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  user-select: none;
  border-radius: 10px;
}

.item.absolute {
  position: absolute;
}

input,
input:active,
input:focus {
  outline: none;
  border: none;
}
