.app {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 400px;
}

.playground {
  position: relative;
  background-color: #1c1c1c;
  overflow: hidden;
}

.sidebar {
  background-color: #3c3c3c;
  padding: 20px;
  width: 100%;
}
.sidebar .item {
  margin: 1px;
}

.item {
  cursor: grab;
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  padding: 6px 10px;
  gap: 5px;
  border: 1px black solid;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  user-select: none;
  border-radius: 10px;
}

.item.absolute {
  position: absolute;
}
