<!--<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{ username }}</p>
<button (click)="resetUsername()" class="btn btn-success">Reset Username</button>
<br>-->

<label>Server Name</label>
<!--<input (input)="onUpdateServerName($event)" class="form-control" type="text">-->
<!--<p [innerText]="allowNewServer ? 'Erlauben' : 'Verboten'"></p>-->
<input type="text" class="form-control" [(ngModel)]="servername">
<button (click)="onCreateServer()" class="btn btn-primary" [disabled]="!allowNewServer">Add Sever</button>
<!--<p>{{ servername }}</p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated; else noServer">Server was created, servername is {{ servername }}</p>
<ng-template #noServer><p>No server was created!</p></ng-template>

<app-server *ngFor="let server of servers"></app-server>